html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block;}body{line-height:1;}ol,ul{list-style:none;}blockquote,q{quotes:none;}blockquote::before,blockquote::after,q::before,q::after{content:'';content:none;}table{border-collapse:collapse;border-spacing:0;}body{-webkit-text-size-adjust:none}mark{background-color:transparent;color:inherit}input::-moz-focus-inner{border:0;padding:0}input[type="text"],input[type="email"],select,textarea{-moz-appearance:none;-webkit-appearance:none;-ms-appearance:none;appearance:none}

*, *::before, *::after {
	box-sizing: border-box;
}

body {
	line-height: 1.0;
	min-height: var(--viewport-height);
	min-width: 320px;
	overflow-x: hidden;
	word-wrap: break-word;
	background-color: #FFFFFF;
}

body::before {
	content: '';
	display: block;
	background-attachment: scroll;
	height: var(--background-height);
	left: 0;
	pointer-events: none;
	position: fixed;
	top: 0;
	transform: scale(1);
	width: 100vw;
	z-index: 0;
	background-image: url('data:image/svg+xml;charset=utf8,%3Csvg%20width%3D%22640%22%20height%3D%22480%22%20viewBox%3D%220%200%20640%20480%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%20%3Cstyle%20type%3D%22text%2Fcss%22%3E%20rect%20%7B%20opacity%3A%200.5%3B%20%7D%20polygon%20%7B%20opacity%3A%200.75%3B%20%7D%20%3C%2Fstyle%3E%20%3Cg%20id%3D%22bg%22%3E%20%3ClinearGradient%20id%3D%22bggrad%22%20gradientUnits%3D%22userSpaceOnUse%22%20x1%3D%220%22%20y1%3D%22239.5937%22%20x2%3D%22640%22%20y2%3D%22239.5937%22%20gradientTransform%3D%22matrix%281%200%200%20-1%200%20479.5%29%22%3E%20%3Cstop%20offset%3D%220%22%20style%3D%22stop-color%3Atransparent%22%2F%3E%20%3Cstop%20offset%3D%220.3743%22%20style%3D%22stop-color%3Argba(255,255,255,0.071)%22%2F%3E%20%3Cstop%20offset%3D%220.7682%22%20style%3D%22stop-color%3Atransparent%22%2F%3E%20%3Cstop%20offset%3D%221%22%20style%3D%22stop-color%3Argba(255,255,255,0.071)%22%2F%3E%20%3C%2FlinearGradient%3E%20%3Crect%20style%3D%22fill%3Aurl%28%23bggrad%29%3B%22%20width%3D%22640%22%20height%3D%22479.8%22%20%2F%3E%20%3C%2Fg%3E%20%3Cg%20id%3D%22l1%22%3E%20%3ClinearGradient%20id%3D%22l1grad%22%20gradientUnits%3D%22userSpaceOnUse%22%20x1%3D%22180.3663%22%20y1%3D%22333.5278%22%20x2%3D%2272.0669%22%20y2%3D%22521.1078%22%20gradientTransform%3D%22matrix%281%200%200%20-1%200%20479.5%29%22%3E%20%3Cstop%20offset%3D%220%22%20style%3D%22stop-color%3Argba(255,255,255,0.071)%22%2F%3E%20%3Cstop%20offset%3D%221%22%20style%3D%22stop-color%3Atransparent%22%2F%3E%20%3C%2FlinearGradient%3E%20%3Cpolygon%20style%3D%22fill%3Aurl%28%23l1grad%29%3B%22%20points%3D%220%2C69%2092.3%2C196.8%20232%2C0%200%2C0%22%2F%3E%20%3C%2Fg%3E%20%3Cg%20id%3D%22l2%22%3E%20%3ClinearGradient%20id%3D%22l2grad%22%20gradientUnits%3D%22userSpaceOnUse%22%20x1%3D%220%22%20y1%3D%22251.589%22%20x2%3D%22349.5438%22%20y2%3D%22251.589%22%20gradientTransform%3D%22matrix%281%200%200%20-1%200%20479.5%29%22%3E%20%3Cstop%20offset%3D%220%22%20style%3D%22stop-color%3Argba(255,255,255,0.071)%22%2F%3E%20%3Cstop%20offset%3D%220.8596%22%20style%3D%22stop-color%3Atransparent%22%2F%3E%20%3C%2FlinearGradient%3E%20%3Cpolygon%20style%3D%22fill%3Aurl%28%23l2grad%29%3B%22%20points%3D%2292.3%2C196.8%200%2C170.9%200%2C284.9%22%2F%3E%20%3C%2Fg%3E%20%3Cg%20id%3D%22l3%22%3E%20%3ClinearGradient%20id%3D%22l3grad%22%20gradientUnits%3D%22userSpaceOnUse%22%20x1%3D%22307.3333%22%20y1%3D%22161.2493%22%20x2%3D%22307.3333%22%20y2%3D%22479.5%22%20gradientTransform%3D%22matrix%281%200%200%20-1%200%20479.5%29%22%3E%20%3Cstop%20offset%3D%220%22%20style%3D%22stop-color%3Argba(255,255,255,0.071)%22%2F%3E%20%3Cstop%20offset%3D%221%22%20style%3D%22stop-color%3Atransparent%22%2F%3E%20%3C%2FlinearGradient%3E%20%3Cpolygon%20style%3D%22fill%3Aurl%28%23l3grad%29%3B%22%20points%3D%2292.7%2C196.4%20514.7%2C0%20522%2C0%20328.7%2C318.3%22%2F%3E%20%3C%2Fg%3E%20%3Cg%20id%3D%22l4%22%3E%20%3ClinearGradient%20id%3D%22l4grad%22%20gradientUnits%3D%22userSpaceOnUse%22%20x1%3D%22540.3333%22%20y1%3D%22470.1287%22%20x2%3D%22640%22%20y2%3D%22470.1287%22%20gradientTransform%3D%22matrix%281%200%200%20-1%200%20479.5%29%22%3E%20%3Cstop%20offset%3D%220%22%20style%3D%22stop-color%3A%23808080%22%2F%3E%20%3Cstop%20offset%3D%220.8596%22%20style%3D%22stop-color%3Atransparent%22%2F%3E%20%3C%2FlinearGradient%3E%20%3Cpolygon%20style%3D%22fill%3Aurl%28%23l4grad%29%3B%22%20points%3D%22540.3%2C0%20640%2C18.7%20640%2C0%22%2F%3E%20%3C%2Fg%3E%20%3Cg%20id%3D%22l5%22%3E%20%3ClinearGradient%20id%3D%22l5grad%22%20gradientUnits%3D%22userSpaceOnUse%22%20x1%3D%22327.3333%22%20y1%3D%22142.6941%22%20x2%3D%22640%22%20y2%3D%22142.6941%22%20gradientTransform%3D%22matrix%281%200%200%20-1%200%20479.5%29%22%3E%20%3Cstop%20offset%3D%220%22%20style%3D%22stop-color%3Argba(255,255,255,0.071)%22%2F%3E%20%3Cstop%20offset%3D%220.8596%22%20style%3D%22stop-color%3Atransparent%22%2F%3E%20%3C%2FlinearGradient%3E%20%3Cpolygon%20style%3D%22fill%3Aurl%28%23l5grad%29%3B%22%20points%3D%22327.3%2C317.1%20571.3%2C235.4%20640%2C276.3%20640%2C438.2%22%2F%3E%20%3C%2Fg%3E%20%3Cg%20id%3D%22l6%22%3E%20%3ClinearGradient%20id%3D%22l6grad%22%20gradientUnits%3D%22userSpaceOnUse%22%20x1%3D%22291.9083%22%20y1%3D%2222.7335%22%20x2%3D%22129.2015%22%20y2%3D%22304.55%22%20gradientTransform%3D%22matrix%281%200%200%20-1%200%20479.5%29%22%3E%20%3Cstop%20offset%3D%220%22%20style%3D%22stop-color%3Argba(255,255,255,0.071)%22%2F%3E%20%3Cstop%20offset%3D%221%22%20style%3D%22stop-color%3Atransparent%22%2F%3E%20%3C%2FlinearGradient%3E%20%3Cpolygon%20style%3D%22fill%3Aurl%28%23l6grad%29%3B%22%20points%3D%2292.3%2C196.2%20189.9%2C480%20251.7%2C480%20327.5%2C318.4%22%2F%3E%20%3C%2Fg%3E%3C%2Fsvg%3E'), linear-gradient(360deg, rgba(0,0,0,0.631) 0%, rgba(0,0,0,0.169) 100%), url('images/bg.jpg');
	background-size: cover, cover, auto;
	background-position: center, 0% 0%, right;
	background-repeat: no-repeat, repeat, no-repeat;
}

body::after {
	background-color: #FFFFFF;
	content: '';
	display: block;
	pointer-events: none;
	position: fixed;
	transform: scale(1);
	z-index: 1;
	height: 100%;
	left: 0;
	opacity: 0;
	top: 0;
	transition: opacity 1s ease-in-out 0s, visibility 1s 0s;
	visibility: hidden;
	width: 100%;
}

body.is-loading::after {
	opacity: 1;
	visibility: visible;
}

:root {
	--background-height: 100vh;
	--site-language-alignment: left;
	--site-language-direction: ltr;
	--site-language-flex-alignment: flex-start;
	--site-language-indent-left: 1;
	--site-language-indent-right: 0;
	--site-language-margin-left: 0;
	--site-language-margin-right: auto;
	--viewport-height: 100vh;
}

html {
	font-size: 18pt;
}

u {
	text-decoration: underline;
}

strong {
	color: inherit;
	font-weight: bolder;
}

em {
	font-style: italic;
}

code {
	background-color: rgba(144,144,144,0.25);
	border-radius: 0.25em;
	font-family: 'Lucida Console', 'Courier New', monospace;
	font-size: 0.9em;
	font-weight: normal;
	letter-spacing: 0;
	margin: 0 0.25em;
	padding: 0.25em 0.5em;
	text-indent: 0;
}

mark {
	background-color: rgba(144,144,144,0.25);
}

spoiler-text {
	-webkit-text-stroke: 0;
	background-color: rgba(32,32,32,0.75);
	text-shadow: none;
	text-stroke: 0;
	color: transparent;
	cursor: pointer;
	transition: color 0.1s ease-in-out;
}

spoiler-text.active {
	color: #FFFFFF;
	cursor: text;
}

s {
	text-decoration: line-through;
}

sub {
	font-size: smaller;
	vertical-align: sub;
}

sup {
	font-size: smaller;
	vertical-align: super;
}

a {
	color: inherit;
	text-decoration: underline;
	transition: color 0.25s ease;
}

a[onclick]:not([href]) {
	cursor: pointer;
}

unloaded-script {
	display: none;
}

.site-wrapper {
	-webkit-overflow-scrolling: touch;
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	min-height: var(--viewport-height);
	overflow: hidden;
	position: relative;
	z-index: 2;
}

.site-main {
	--alignment: center;
	--flex-alignment: center;
	--indent-left: 1;
	--indent-right: 1;
	--margin-left: auto;
	--margin-right: auto;
	--border-radius-tl: 0;
	--border-radius-tr: 0;
	--border-radius-br: 0;
	--border-radius-bl: 0;
	align-items: center;
	display: flex;
	flex-grow: 0;
	flex-shrink: 0;
	justify-content: center;
	max-width: 100%;
	position: relative;
	text-align: var(--alignment);
	z-index: 1;
	transition: opacity 1s ease-in-out 0s;
}

.site-main > .inner {
	--padding-horizontal: 3rem;
	--padding-vertical: 4rem;
	--spacing: 1.625rem;
	--width: 49rem;
	border-radius: var(--border-radius-tl) var(--border-radius-tr) var(--border-radius-br) var(--border-radius-bl);
	max-width: 100%;
	position: relative;
	width: var(--width);
	z-index: 1;
	padding: var(--padding-vertical) var(--padding-horizontal);
}

.site-main > .inner > * {
	margin-top: var(--spacing);
	margin-bottom: var(--spacing);
}

.site-main > .inner > :first-child {
	margin-top: 0 !important;
}

.site-main > .inner > :last-child {
	margin-bottom: 0 !important;
}

.site-main > .inner > .full {
	margin-left: calc(var(--padding-horizontal) * -1);
	max-width: calc(100% + calc(var(--padding-horizontal) * 2) + 0.4725px);
	width: calc(100% + calc(var(--padding-horizontal) * 2) + 0.4725px);
}

.site-main > .inner > .full:first-child {
	border-top-left-radius: inherit;
	border-top-right-radius: inherit;
	margin-top: calc(var(--padding-vertical) * -1) !important;
}

.site-main > .inner > .full:last-child {
	border-bottom-left-radius: inherit;
	border-bottom-right-radius: inherit;
	margin-bottom: calc(var(--padding-vertical) * -1) !important;
}

.site-main > .inner > .full.screen {
	border-radius: 0 !important;
	max-width: 100vw;
	position: relative;
	width: 100vw;
	left: 50%;
	margin-left: -50vw;
	right: auto;
}

body.is-loading .site-main {
	opacity: 0;
}

body #loader {
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	content: '';
	display: block;
	height: 4.125rem;
	left: calc(50% - 2.0625rem);
	opacity: 0;
	pointer-events: none;
	position: fixed;
	top: calc(50% - 2.0625rem);
	transition: opacity 1s ease, visibility 1s;
	visibility: hidden;
	width: 4.125rem;
	z-index: 100000;
}

body.with-loader #loader {
	background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB3aWR0aD0iOTZweCIgaGVpZ2h0PSI5NnB4IiB2aWV3Qm94PSIwIDAgOTYgOTYiIHpvb21BbmRQYW49ImRpc2FibGUiPjxzdHlsZT5jaXJjbGUgeyBmaWxsOiB0cmFuc3BhcmVudDsgc3Ryb2tlOiAjNkU2NzVENkU7IHN0cm9rZS13aWR0aDogMnB4OyB9PC9zdHlsZT48ZGVmcz48Y2xpcFBhdGggaWQ9ImNvcm5lciI+PHBvbHlnb24gcG9pbnRzPSIwLDAgNDgsMCA0OCw0OCA5Niw0OCA5Niw5NiAwLDk2IiAvPjwvY2xpcFBhdGg+PC9kZWZzPjxnIGNsaXAtcGF0aD0idXJsKCNjb3JuZXIpIj48Y2lyY2xlIGN4PSI0OCIgY3k9IjQ4IiByPSIzMiIgdmVjdG9yLWVmZmVjdD0ibm9uLXNjYWxpbmctc3Ryb2tlIiAvPjxhbmltYXRlVHJhbnNmb3JtIGF0dHJpYnV0ZU5hbWU9InRyYW5zZm9ybSIgYXR0cmlidXRlVHlwZT0iWE1MIiB0eXBlPSJyb3RhdGUiIGZyb209IjAgNDggNDgiIHRvPSIzNjAgNDggNDgiIGR1cj0iMXMiIHJlcGVhdER1cj0iaW5kZWZpbml0ZSIgLz48L2c+PC9zdmc+');
	opacity: 1;
	transform: scale(1.0);
	visibility: visible;
}

body.is-loading {
	pointer-events: none;
}

body.is-playing.with-loader #loader {
	opacity: 0;
	transform: scale(0.5);
	transition: opacity 0.25s ease, transform 0.75s ease, visibility 0.25s;
	visibility: hidden;
}

body.is-instant .site-main, body.is-instant .site-main > .inner > *,body.is-instant .site-main > .inner > section > *  {
	transition: none !important;
}

body.is-instant::after {
	display: none !important;
	transition: none !important;
}

.text-component {
	direction: var(--site-language-direction);
	position: relative;
}

.text-component span.p {
	display: block;
	position: relative;
}

.text-component span[style], .text-component strong, .text-component a, .text-component code, .text-component mark, .text-component spoiler-text {
	-webkit-text-fill-color: currentcolor;
}

.text-component.instance-1 {
	color: #FFFFFF;
	font-family: 'Playfair Display', serif;
	letter-spacing: -0.025rem;
	width: 100%;
	font-size: 4em;
	line-height: 1.375;
	font-weight: 500;
}

.text-component.instance-1 u {
	text-decoration: none;
	box-shadow: inset 0 -0.5em 0 0 #FFFFFF;
}

.text-component.instance-1 mark {
	color: #FFF72B;
	background-color: transparent;
}

.text-component.instance-1 a {
	color: rgba(255,255,255,0.529);
	text-decoration: none;
}

.text-component.instance-1 a:hover {
	color: #FFFFFF;
}

.text-component.instance-1 span.p:nth-child(n + 2) {
	margin-top: 1rem;
}

.text-component.instance-1 > * {
	display: inline-block;
	line-height: 1.2;
}

.divider-component {
	align-items: center;
	border: 0;
	display: flex;
	justify-content: var(--flex-alignment);
	min-height: 1rem;
	padding: 0;
	position: relative;
	width: 100%;
}

.divider-component::before {
	content: '';
}

.divider-component.instance-1::before {
	width: 100%;
	border-bottom: solid 2px rgba(255,255,255,0.169);
	border-top: solid 2px rgba(255,255,255,0.169);
	height: 6px;
}

.icons-component {
	display: flex;
	flex-wrap: wrap;
	justify-content: var(--flex-alignment);
	letter-spacing: 0;
	padding: 0;
}

.icons-component > li {
	position: relative;
	z-index: 1;
}

.icons-component > li > a {
	align-items: center;
	display: flex;
	justify-content: center;
}

.icons-component > li > a > svg {
	display: block;
	pointer-events: none;
	position: relative;
}

.icons-component > li > a + svg {
	display: block;
	height: 100%;
	left: 0;
	pointer-events: none;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: -1;
}

.icons-component > li > a > .label {
	display: none;
}

.icons-component.instance-1 {
	font-size: 2.125em;
	gap: 1.375rem;
}

.icons-component.instance-1:not(:first-child) {
	margin-top: 2rem !important;
}

.icons-component.instance-1:not(:last-child) {
	margin-bottom: 2rem !important;
}

.icons-component.instance-1 > li > a {
	border-radius: 100%;
	height: 2em;
	width: 2em;
	background-color: #FFFFFF;
	transition: transform 0.25s ease, color 0.25s ease, background-color 0.25s ease, border-color 0.25s ease;
}

.icons-component.instance-1 > li > a > svg {
	height: 60%;
	width: 60%;
	fill: #6E675D;
	transition: fill 0.25s ease;
}

.icons-component.instance-1 > li > a:hover {
	background-color: rgba(255,255,255,0.82) !important;
	transform: translateY(-20%);
}

.icons-component.instance-1 > li > a + svg {
	transition: transform 0.25s ease, fill 0.25s ease, stroke 0.25s ease;
}

.icons-component.instance-1 > li > a:hover + svg {
	transform: translateY(-20%);
}

@media (max-width: 1920px) {
	
}

@media (max-width: 1680px) {
	html {
		font-size: 13pt;
	}
}

@media (max-width: 1280px) {
	html {
		font-size: 13pt;
	}
}

@media (max-width: 1024px) {
	
}

@media (max-width: 980px) {
	html {
		font-size: 11pt;
	}
}

@media (max-width: 736px) {
	html {
		font-size: 10pt;
	}
	
	.site-main {
		--alignment: center;
		--flex-alignment: center;
		--indent-left: 1;
		--indent-right: 1;
		--margin-left: auto;
		--margin-right: auto;
	}
	
	.site-main > .inner {
		--padding-horizontal: 2rem;
		--padding-vertical: 3.5rem;
		--spacing: 1.625rem;
	}
	
	.text-component.instance-1 {
		letter-spacing: -0.021875rem;
		width: 100%;
		font-size: 3.5em;
		line-height: 1.375;
	}
	
	.divider-component.instance-1:not(:first-child) {
		margin-top: 2rem !important;
	}
	
	.divider-component.instance-1:not(:last-child) {
		margin-bottom: 2rem !important;
	}
	
	.divider-component.instance-1::before {
		width: 100rem;
	}
	
	.icons-component.instance-1 {
		font-size: 2.125em;
		gap: 1.375rem;
	}
	
	.icons-component.instance-1:not(:first-child) {
		margin-top: 1.5rem !important;
	}
	
	.icons-component.instance-1:not(:last-child) {
		margin-bottom: 1.5rem !important;
	}
}

@media (max-width: 480px) {
	.site-main > .inner {
		--spacing: 1.421875rem;
	}
}

@media (max-width: 360px) {
	.site-main > .inner {
		--padding-horizontal: 1.5rem;
		--padding-vertical: 2.625rem;
		--spacing: 1.21875rem;
	}
	
	.text-component.instance-1 {
		font-size: 3.5em;
	}
	
	.icons-component.instance-1 {
		gap: 1.03125rem;
	}
}